<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <package name="com.cisco.la.model"/>
  </typeAliases>
  
  <mappers>
    <mapper resource="com/cisco/la/mapper/CourseModelMapper.xml" />
    <mapper resource="com/cisco/la/mapper/CourseHistoryModelMapper.xml" />
    <mapper resource="com/cisco/la/mapper/GoldenSampleModelMapper.xml" />
    <mapper resource="com/cisco/la/mapper/RoleHistoryModelMapper.xml" />
    <mapper resource="com/cisco/la/mapper/RoleModelMapper.xml" />
    <mapper resource="com/cisco/la/mapper/UserModelMapper.xml" />
  </mappers>
</configuration>








